.new-btn {
  display: flex;
  align-items: center;
  margin-left: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  border: none;
  background: white;
  padding: 5px 16px;
  border-radius: 100px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.new-btn * {
  pointer-events: none;
}
.new-btn:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  background: #f8f9fa;
}
.new-btn:focus {
  background-color: #f8f9fa;
}
.new-btn:active {
  background-color: #e8f0fe;
}
.new-btn .icon {
  margin-right: 10px;
}
.new-btn .name {
  font-size: 14px;
  font-weight: 500;
  margin-right: 9px;
  color: #3c4043;
}
.items {
  display: block;
  max-height: 54vh;
  overflow: auto;
  margin-top: 10px;
}

.item {
  display: flex;
  align-items: center;
  padding: 6px 26px;
  background: white;
  border-radius: 0px 100px 100px 0px;
  cursor: pointer;
  transition: all 0.041s ease;
  justify-content: flex-start;
}
.item.active {
  background: #e8f0fe;
}
.item.active .name {
  color: #226ed4;
}
.item.active .icon svg {
  fill: #226ed4;
}
.item .name {
  font-weight: 600;
  font-size: 13px;
  margin-left: 20px;
  color: #5f6368;
}
.item * {
  pointer-events: none;
}
.item .icon svg {
  fill: #5f6368;
}
.item:not(.active):hover {
  background: rgba(0, 0, 0, 0.04);
}
.divider {
  background: #dadce0;
  width: 100%;
  height: 1px;
  margin-top: 6px;
  margin-bottom: 2px;
}
.progress {
  height: 4px;
  background: #e0e0e0;
  border-radius: 4px;
  margin-bottom: 13px;
  position: relative;
  overflow: hidden;
  margin-top: 7px;
}
.progress:after {
  content: "";
  position: absolute;
  height: 100%;
  width: var(--v, 0%);
  background: #1a73e8;
}
.meta-text {
  font-size: 13px;
  color: #5f6368;
  display: block;
  margin-bottom: 13px;
}
.outlined-button {
  border: 1px solid #dadce0;
  color: #15c;
  background: white;
  border-radius: 4px;
  padding: 10px 23px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
}
.outlined-button:hover {
  border-color: #dadce0;
  color: #185abc;
  background: #f6f9fe;
}
.outlined-button:active {
  background: #e3eefd;
}
.outlined-button:focus {
  background: #e3eefd;
}
