<footer class="page-footer" [ngClass]="(mode$|async)?'grey darken-4':'grey lighten-2'">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h2 [ngClass]="(mode$|async)?'white-text':'black-text'">Footer Content</h2>
        <p [ngClass]="(mode$|async)?'white-text':'grey-text text-darken-3'">You can use rows and columns here to
          organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h2 [ngClass]="(mode$|async)?'white-text':'black-text'">Links</h2>
        <ul>
          <li><a [ngClass]="(mode$|async)?'white-text':'grey-text text-darken-3'">Link 1</a></li>
          <li><a [ngClass]="(mode$|async)?'white-text':'grey-text text-darken-3'">Link 2</a></li>
          <li><a [ngClass]="(mode$|async)?'white-text':'grey-text text-darken-3'">Link 3</a></li>
          <li><a [ngClass]="(mode$|async)?'white-text':'grey-text text-darken-3'">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright" [ngClass]="(mode$|async)?'white-text':'grey-text text-darken-3'">
    <div class="container">
      © 2014 Copyright Text
      <a class="right" [ngClass]="(mode$|async)?'white-text':'grey-text text-darken-3'">More
        Links</a>
    </div>
  </div>
</footer>
